@import "~bootstrap-sass/assets/stylesheets/bootstrap";
//@import "~flickity/dist/flickity";
@import "~flag-icon-css/sass/flag-icon";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  min-height: 100vh;
}

a {
  transition: all 0.2s ease-out;

  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

.search_group {
  max-width: 200px;
  padding-top: 4px;
  margin-right: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

.app-header {
  margin-bottom: 0;

  &-navbar {
    padding: 0 15px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

  &-brand {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;

    & img {
      margin-right: 10px;
      max-height: 40px;
      border-radius: 15px;
    }
  }

  &-subnav {
    display: flex;
    justify-content: space-between;
  }

}

.app-menu {

  &_item {
    font-weight: 700;

    &.active {
      color: #000;
    }
  }

  &_wrapper {
    padding: 15px;
  }
}

.app-content {
  flex: 1;
}

.app-link-back {
  font-weight: bold;
}

.app-item {
  margin-bottom: 20px;

  &-header {
    margin-top: 10px;
    padding: 0 15px;
  }

  &-title {
    font-weight: bold;
    padding: 7px 0;
    margin: 15px 0;
    font-size: 20px;
    border-bottom: 1px solid black;
  }

  &-detail {
    padding: 20px 15px;

    &__title {
      font-size: 14px;
      font-weight: bold;
    }

    &__description {
      text-align: justify;
      line-height: 1.1;

    }

    &__download {
      display: block;
      margin: 30px auto;
      max-width: 290px;
    }
  }
}

.app-category {
  margin-bottom: 20px;

  &-header {
    margin-top: 10px;
    padding: 0 15px;
  }

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 7px 15px;
    margin: 15px 0;
    font-size: 25px;
    border-bottom: 1px solid black;

    &--name {

    }

    &--all {
      font-size:  18px;
      font-weight:  bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0 15px 10px;
    padding: 5px 7px;

    &__thumb {
      border-radius: 8px;
      overflow: hidden;
      max-height: 130px;
    }

    &-type {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 13px;
      margin-top: 10px;
      text-align: center;

      &__thumb {
        max-height: 30px;
        border-radius: 4px;
      }
    }

    &__rating {
      flex: 1;
    }

    &__title {
      font-weight: bold;
      color: #000;
      text-align: center;
    }
  }
}

.app-disclaimer {
  padding: 15px;
  text-align: center;
}

.app-footer {

  &__page {

  }

  &__cancel {

  }

  &__text {

  }

}

.app-pricebanner {
  display: block;
  text-decoration: none;
}

.app-featured {
  display: flex;
  flex-wrap: wrap;

  &-item {
    display: block;
    margin: 20px auto 10px;
  }
}

.app-newsflash {
  //padding: 15px;
}

.app-page {
  padding: 30px 15px;
}

.app-unsubscribe {
  text-align: center;
}

@media (min-width: 767px) {

  .app-menu_wrapper {
    display: flex;
  }

  .app-menu.collapse {
    display: block;
  }

  .app-menu_item {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 10px;
    padding: 7px 10px 7px 0;
    font-weight: 400;
  }

  .app-menu_icon {
    display: none;
  }

  .app-category-item {
    flex: 0 0 20%;
  }

}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    left: auto;
    right: 0;
  }

  .app-menu_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .app-menu_icon {
    margin-right: 10px;
  }

  .app-category-item {
    flex: 0 0 26%;
  }
}

@media (max-width: 500px) {
  .app-category-item {
    flex: 0 0 40%;
  }

  .search_group {
    margin: 0 auto;
  }
}
