@charset "UTF-8";

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bg-color);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-size: 12px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

button {
  border: none;
}

button:hover,
button:focus,
button:active {
  border: none;
  outline: none;
}

.app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: var(--header-bg-color);
  color: var(--header-color);
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  border-bottom: var(--header-border-size) solid var(--header-border-color);
  min-height: var(--header-min-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Burger button toggle menu */
  /* Logo */
  /* Search button */
  /* Auth button for login */
  /* Language block */
}

.app-header__menu-toggle {
  width: 25px;
  height: 21px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: var(--header-bg-color);
  margin: 0 10px;
}

.app-header__menu-toggle span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--header-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.app-header__menu-toggle span:nth-child(1) {
  top: 0;
}

.app-header__menu-toggle span:nth-child(2),
.app-header__menu-toggle span:nth-child(3) {
  top: 10px;
}

.app-header__menu-toggle span:nth-child(4) {
  top: 20px;
}

.app-header__menu-toggle.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}

.app-header__menu-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.app-header__menu-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.app-header__menu-toggle.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.app-header-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: var(--logo-text-align);
      -ms-flex-pack: var(--logo-text-align);
          justify-content: var(--logo-text-align);
}

.app-header-logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--logo-text-color);
  font-size: var(--logo-font-size);
  font-weight: var(--logo-font-weight);
}

.app-header-logo img {
  margin-right: 20px;
  max-height: 50px;
}

.app-header__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Change size of icon and input */
}

.app-header__search .search-bar {
  height: auto;
  width: auto;
  display: inline-block;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app-header__search .search-bar input {
  height: 40px;
  width: 40px;
  padding: 2px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  border: 1.8px solid transparent;
  border-radius: 40px;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: transparent;
}

.app-header__search .search-bar input::-webkit-input-placeholder {
  color: transparent;
}

.app-header__search .search-bar input:-ms-input-placeholder {
  color: transparent;
}

.app-header__search .search-bar input::-ms-input-placeholder {
  color: transparent;
}

.app-header__search .search-bar input::placeholder {
  color: transparent;
}

.app-header__search .search-bar input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.app-header__search .search-bar input:hover {
  border: 1.8px solid var(--header-color);
  -webkit-box-shadow: 0 0 1.8px 1.8px var(--header-bg-color);
          box-shadow: 0 0 1.8px 1.8px var(--header-bg-color);
}

.app-header__search .search-bar input:focus,
.app-header__search .search-bar input:valid {
  width: 280px;
  border: 1.8px solid var(--header-bg-color);
  outline: none;
  cursor: auto;
  background-color: var(--header-color);
  color: var(--header-bg-color);
  font-weight: var(--header-font-weight);
}

.app-header__search .search-bar input:focus::-webkit-input-placeholder,
.app-header__search .search-bar input:valid::-webkit-input-placeholder {
  color: var(--header-bg-color);
}

.app-header__search .search-bar input:focus:-ms-input-placeholder,
.app-header__search .search-bar input:valid:-ms-input-placeholder {
  color: var(--header-bg-color);
}

.app-header__search .search-bar input:focus::-ms-input-placeholder,
.app-header__search .search-bar input:valid::-ms-input-placeholder {
  color: var(--header-bg-color);
}

.app-header__search .search-bar input:focus::placeholder,
.app-header__search .search-bar input:valid::placeholder {
  color: var(--header-bg-color);
}

.app-header__search .search-bar input:focus + .search-icon,
.app-header__search .search-bar input:valid + .search-icon {
  z-index: 0;
  border-color: var(--header-bg-color);
  right: 20px;
}

.app-header__search .search-bar input:focus + .search-icon:after,
.app-header__search .search-bar input:valid + .search-icon:after {
  background-color: var(--header-bg-color);
}

.app-header__search .search-icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1.38461538px solid var(--header-color);
  position: absolute;
  right: 12px;
  top: 8px;
  z-index: -1;
}

.app-header__search .search-icon:after {
  content: '';
  position: absolute;
  top: 18px;
  left: 15.75px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 1.8px;
  width: 9px;
  background-color: var(--header-color);
  border-radius: 10px;
}

.app-header__auth {
  margin: 0 10px;
}

.app-header__auth-login {
  display: block;
}

.app-header__auth-login svg {
  position: relative;
  top: 2px;
  width: 35px;
  height: 25px;
  fill: var(--header-color);
}

.app-header__auth-logout {
  display: block;
}

.app-header__auth-logout svg {
  position: relative;
  top: 2px;
  width: 35px;
  height: 25px;
  fill: var(--header-color);
}

.app-header__language {
  margin: 0 20px 0 0;
  position: relative;
}

.app-header__language:hover > .dropdown-menu {
  display: block;
  opacity: 1;
}

.app-header__language .dropdown-trigger {
  position: relative;
  text-transform: uppercase;
  color: var(--header-color);
  font-weight: var(--header-font-weight);
}

.app-header__language .dropdown-trigger:focus + .dropdown-menu {
  display: block;
  opacity: 1;
}

.app-header__language .dropdown-trigger::after {
  content: "\203A";
  position: absolute;
  color: var(--header-color);
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -15px;
}

.app-header__language .dropdown-menu {
  background-color: var(--header-bg-color);
  display: inline-block;
  text-align: right;
  position: absolute;
  top: 10px;
  right: -20px;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding: 0;
  width: 63px;
}

.app-header__language .dropdown-menu a {
  color: var(--header-color);
  text-transform: uppercase;
  font-weight: lighter;
}

.app-header__language .dropdown-menu-item {
  cursor: pointer;
  padding-left: 5px;
  text-align: left;
  list-style: none;
}

.app-header__language .dropdown-menu-item:hover,
.app-header__language .dropdown-menu-item:focus {
  background-color: var(--header-color);
}

.app-header__language .dropdown-menu-item a:hover,
.app-header__language .dropdown-menu-item a:focus {
  color: var(--header-bg-color);
}

.app-navbar {
  background-color: var(--navbar-bg-color);
  min-height: var(--navbar-min-height);
  border-bottom: var(--navbar-border-size) solid var(--navbar-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-navbar-menu-item {
  color: var(--navbar-color);
  font-weight: var(--navbar-font-weight);
  font-size: var(--navbar-font-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100px;
  position: relative;
  margin: 0 5px;
}

.app-navbar-menu-item__label {
  text-transform: uppercase;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.app-navbar-menu-item:after {
  content: '';
  position: absolute;
  width: 100px;
  bottom: calc(-1 * var(--navbar-border-size));
  display: none;
  background-color: var(--navbar-border-color);
  height: var(--navbar-border-size);
}

.app-navbar-menu-item:hover:after,
.app-navbar-menu-item.active:after {
  display: block;
}

.app-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  max-width: var(--content-width);
  margin: 10px auto;
}

.app-category {
  margin-bottom: 20px;
  background-color: var(--content-bg-color);
}

.app-category-header {
  margin-top: 10px;
  padding: 0 15px;
}

.app-category-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  padding: 7px 15px;
  margin: 15px 0;
  font-size: 25px;
  border-bottom: 1px solid black;
}

.app-category-title--all {
  font-size: 18px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-category-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app-category-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0 15px 10px;
  padding: 5px 7px;
}

.app-category-item__thumb {
  border-radius: 8px;
  overflow: hidden;
  max-height: 130px;
}

.app-category-item-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}

.app-category-item-type__thumb {
  max-height: 30px;
  border-radius: 4px;
}

.app-category-item__rating {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.app-category-item__title {
  font-weight: bold;
  color: #000;
  text-align: center;
}

.app-item {
  margin-bottom: 20px;
}

.app-item-header {
  margin-top: 10px;
  padding: 0 15px;
}

.app-item-title {
  font-weight: bold;
  padding: 7px 0;
  margin: 15px 0;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.app-item-detail {
  padding: 20px 15px;
}

.app-item-detail__title {
  font-size: 14px;
  font-weight: bold;
}

.app-item-detail__description {
  text-align: justify;
  line-height: 1.1;
}

.app-item-detail__download {
  display: block;
  margin: 30px auto;
  max-width: 290px;
}

.app-footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-color);
  text-align: var(--footer-text-align);
  min-height: var(--footer-min-height);
  border-top: var(--footer-border-size) solid var(--footer-border-color);
}

.app-footer a {
  font-weight: var(--footer-font-weight);
  color: var(--footer-color);
  font-size: var(--footer-font-size);
}

.app-footer a:hover,
.app-footer a:active .app-footer a:focus {
  color: var(--footer-color);
}

.app-link-back {
  font-weight: bold;
}

.app-disclaimer {
  padding: 15px;
  text-align: center;
}

.app-pricebanner {
  display: block;
  text-decoration: none;
}

.app-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app-featured-item {
  display: block;
  margin: 20px auto 10px;
}

.app-page {
  padding: 30px 15px;
}

.app-unsubscribe {
  text-align: center;
}

@media (min-width: 767px) {
  .app-menu_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .app-menu.collapse {
    display: block;
  }

  .app-menu_item {
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 10px;
    padding: 7px 10px 7px 0;
    font-weight: 400;
  }

  .app-menu_icon {
    display: none;
  }

  .app-category-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    left: auto;
    right: 0;
  }

  .app-menu_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .app-menu_icon {
    margin-right: 10px;
  }

  .app-category-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 26%;
            flex: 0 0 26%;
  }
}

@media (max-width: 500px) {
  .app-category-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }

  .search_group {
    margin: 0 auto;
  }
}

